@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

.widget-wrapper {
  width: 18rem;
  height: 13rem;
  border-radius: 5px;
  border: 1px solid #ECEEEF;
  padding: 0.5rem 0.75rem;
}

.widget-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
}

.widget-title {
  font-size: 1.15rem;
}

.widget-icon {
  &:hover {
    cursor: pointer;
  }
}
