<div class="grid">
  <div class="col-6">
    <h1>Simple Template Driven Form</h1>
    <form (formValueChange)="setFormValue($event)">
      <div class="flex flex-column gap-1">
        <div class="field">
          <label class="mr-3">First Name</label>
          <input pInputText name="firstName" [ngModel]="vm.formValue.firstName"/>
        </div>

        <div class="field">
          <label class="mr-3">Last Name</label>
          <input pInputText name="lastName" [ngModel]="vm.formValue.lastName"/>
        </div>

        <div class="field">
          <label class="mr-3">Age</label>
          <input pInputText name="age" [ngModel]="vm.formValue.age"/>
        </div>

        <div class="field">
          <label class="mr-3">Emergency Contact</label>
          <input
            pInputText
            name="emergencyContactNumber"
            [disabled]="vm.emergencyContactDisabled"
            [ngModel]="vm.formValue.emergencyContactNumber"
          />
        </div>

        <div class="field">
          <label>
            <span>Gender</span>
          </label>
          <div class="flex gap-2">
            <p-radioButton name="gender" label="Male" value="male" [ngModel]="vm.formValue.gender"/>
            <p-radioButton name="gender" label="Female" value="female" [ngModel]="vm.formValue.gender"/>
            <p-radioButton name="gender" label="Other" value="other" [ngModel]="vm.formValue.gender"/>
          </div>
        </div>

        <div>
          <label>
            <!--Change to to ngIf to remove the gender-->
            <input
              *ngIf="vm.showOtherGender"
              pInputText
              [ngModel]="vm.formValue.genderOther"
              name="genderOther"
              [attr.type]="vm.showOtherGender ? 'text' : 'hidden'"
            />
          </label>
        </div>
        <div ngModelGroup="addresses">
          <div>
            <h3>Billing address</h3>
            <app-address-form ngModelGroup="billingAddress" [address]="vm.formValue.addresses?.billingAddress"/>
          </div>

          <div class="field">
            <label>
              <span>Shipping address is different from billing address</span>
            </label>
            <div>
              <p-checkbox
                [binary]="true"
                name="shippingAddressDifferentFromBillingAddress"
                [ngModel]="vm.formValue.addresses?.shippingAddressDifferentFromBillingAddress"
              />
            </div>
          </div>

          <div *ngIf="vm.showShippingAddress">
            <h3>Shipping address</h3>
            <app-address-form ngModelGroup="shippingAddress" [address]="vm.shippingAddress"/>
          </div>
        </div>

        <div class="flex gap-3">
          <p-button type="button" label="View" (click)="editMode.set(false)"/>
          <p-button type="submit" label="Submit" (onClick)="submitHandler()"/>
        </div>
      </div>
    </form>
  </div>
  <div class="col-6">
    <pre>{{ vm.formValue | json }}</pre>
  </div>
</div>
