<h1>Counter</h1>

<p-inputNumber [(ngModel)]="initialSetToValue$" [min]="0"/>
<p-spinner [(ngModel)]="(state$ | async)?.tickSpeed" [min]="0"/>
<p-spinner [(ngModel)]="(state$ | async)?.countDiff" [min]="0"/>

<p-panel>
  <div class="text-2xl" id="{{elementIds.TimerDisplay}}">
    <span *ngFor="let d of (state$ | async)?.count | toArray">
      <span class="p-card-title">{{ d }}</span>
    </span>
  </div>
</p-panel>

<p-button id="{{elementIds.BtnStart}}" (click)="btnStart.next($event)" label="Start"/>
<p-button id="{{elementIds.BtnPause}}" (click)="btnPause.next($event)" label="Pause"/>

<br/>

<p-button id="{{elementIds.BtnSetTo}}" (click)="btnSetTo.next($event)" label="Set To"/>
<p-inputNumber id="{{elementIds.InputSetTo}}" [min]="0" [(ngModel)]="initialSetToValue$"/>

<p-button id="{{elementIds.BtnReset}}" (click)="btnReset.next($event)" label="Reset"/>

<br/>

<p-button id="{{elementIds.BtnUp}}" (click)="btnUp.next($event)" label="Count Up"/>
<p-button id="{{elementIds.BtnDown}}" (click)="btnDown.next($event)" label="Count Down"/>

<br/>

<label for="{{elementIds.InputTickSpeed}}">Tick Speed</label>
<p-inputNumber id="{{elementIds.InputTickSpeed}}" [min]="0" [(ngModel)]="(state$ | async)?.tickSpeed"/>

<label for="{{elementIds.InputCountDiff}}">Count Diff</label>
<p-inputNumber id="{{elementIds.InputCountDiff}}" [min]="0" [(ngModel)]="(state$ | async)?.countDiff"/>
