<div class="p-5">
  <div class="grid">
    <div class="col-4">
      <label>Deposit Rule</label>
      <div>
        <p-dropdown
          styleClass="form-control"
          optionLabel="name"
          [options]="depositService.depositTypes"
          [formControl]="depositRuleCtrl"
          (onChange)="onDepositSelected($event)"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="flex gap-2 justify-content-end">
    <p-button
      icon="pi pi-minus"
      label="Remove Inner Bag"
      (onClick)="onRemoveInnerBag()"
    ></p-button>
    <p-button
      icon="pi pi-plus"
      label="Add Inner Bag"
      (onClick)="onAddInnerBag()"
    />
  </div>

  <p-tabView [(activeIndex)]="activeTabIndex" *ngIf="depositService.schema$ | async">
    <ng-container *ngFor="let schema of depositService.innerBagSchemas$ | async; let i = index">
      <p-tabPanel [header]="label(i)">
        <ng-template pTemplate="header">
          <i class="pi pi-shopping-bag mr-3"></i>
          <span>Inner Bag {{ i + 1 }}</span>
        </ng-template>
        <app-json-form [schema]="schema" #innerBagFormCmp/>
      </p-tabPanel>
    </ng-container>
  </p-tabView>
</div>
