<div class="p-card p-3">
  <div>
    <ng-container [ngTemplateOutlet]="headerTemplate || defaultWidgetHeader"></ng-container>
  </div>
  <ng-container
    [ngTemplateOutlet]="contentTemplate || defaultWidgetContent"
  [ngTemplateOutletContext]="{$implicit: state}"
  ></ng-container>

  <div class="flex flex-row-reverse justify-content-center gap-2">
    <p-button label="Reload" (onClick)="actions.reload()"/>
    <p-button label="Copy Data" [outlined]="true" (onClick)="actions.copyData()"/>
  </div>
</div>


<ng-template #defaultWidgetHeader>
  <div class="p-card-title">Weather Forecast</div>
  <div class="p-card-subtitle">Current weather in your location</div>
</ng-template>

<ng-template #defaultWidgetContent>
  <div class="flex flex-column align-items-center">
    <h1>{{ state.data.condition === 'sunny' ? '☀️' : '☁️' }}</h1>
    <h3>{{ state.data.temperature }}°C</h3>
  </div>
</ng-template>
