<div class="tile">
  <div class="tile__header">
    <h3>{{ name() | titlecase }}</h3>
    <div>
      <i class="pi pi-arrow-up-right text-2xl"></i>
    </div>
  </div>

  <div class="tile__metric">
    <h1>1415</h1>
  </div>
  <apx-chart
    [grid]="chartOptions.grid"
    [fill]="chartOptions.fill"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [stroke]="chartOptions.stroke"
    [colors]="chartOptions.colors"
    [legend]="chartOptions.legend"
    [series]="chartOptions.series"
    [tooltip]="chartOptions.tooltip"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
  />
</div>
