<!--<div>-->
<!--  <h2>Customers</h2>-->
<!--  <div class="flex flex-column gap-3">-->
<!--    <label>Current Page</label>-->
<!--    <p-inputNumber (onInput)="onSetCurrentPage($event)"/>-->
<!--  </div>-->
<!--  <div class="flex flex-column gap-3">-->
<!--    <label>Page Size</label>-->
<!--    <p-inputNumber (onInput)="onSetPageSize($event)"/>-->
<!--  </div>-->

<!--  <ul class="border-1 border-gray-200">-->
<!--    @for (customer of customerRepository.customers$ | async; track customer) {-->
<!--      <li>{{ customer.id }} - {{ customer.firstName }} {{ customer.lastName }}</li>-->
<!--    } @empty {-->
<!--      <h3>No customers found.</h3>-->
<!--      <p>Please select a page and size to view customers.</p>-->
<!--    }-->
<!--  </ul>-->
<!--</div>-->
