<div class="grid">
  <div class="col-8 col-offset-2">
    <apx-chart
      [series]="areaChartOptions.series"
      [chart]="areaChartOptions.chart"
      [xaxis]="areaChartOptions.xaxis"
      [stroke]="areaChartOptions.stroke"
      [dataLabels]="areaChartOptions.dataLabels"
      [yaxis]="areaChartOptions.yaxis"
      [labels]="areaChartOptions.labels"
      [legend]="areaChartOptions.legend"
      [title]="areaChartOptions.title"
      [subtitle]="areaChartOptions.subtitle"
      [plotOptions]="areaChartOptions.plotOptions"
      [fill]="areaChartOptions.fill"
    ></apx-chart>
  </div>
</div>

<div class="grid">
  <div class="col-4 col-offset-1">
    <apx-chart
      [series]="sideBarChartOptions.series"
      [chart]="sideBarChartOptions.chart"
      [dataLabels]="sideBarChartOptions.dataLabels"
      [plotOptions]="sideBarChartOptions.plotOptions"
      [xaxis]="sideBarChartOptions.xaxis"
      [legend]="sideBarChartOptions.legend"
    ></apx-chart>
  </div>
  <div class="col-4 col-offset-1">
    <apx-chart
      [series]="sideBarChartOptions.series"
      [chart]="sideBarChartOptions.chart"
      [dataLabels]="sideBarChartOptions.dataLabels"
      [plotOptions]="sideBarChartOptions.plotOptions"
      [xaxis]="sideBarChartOptions.xaxis"
      [legend]="sideBarChartOptions.legend"
    ></apx-chart>
  </div>
</div>
