<h3>Address</h3>
<div class="flex flex-column gap-1">
  <div class="field">
    <label class="mr-3">Street</label>
    <input pInputText [ngModel]="address?.street" name="street"/>
  </div>

  <div class="field">
    <label class="mr-3">City</label>
    <input pInputText [ngModel]="address?.city" name="city"/>
  </div>

  <div class="field">
    <label class="mr-3">Zipcode</label>
    <input pInputText [ngModel]="address?.zipcode" name="zipcode"/>
  </div>

  <div class="field">
    <label class="mr-3">Number</label>
    <input pInputText [ngModel]="address?.number" name="number"/>
  </div>

  <div class="field">
    <label class="mr-3">Country</label>
    <input pInputText [ngModel]="address?.country" name="country"/>
  </div>
</div>
